.scheduleContainer {
	width: 50%;
	height: 100%;
	display: flex
}

.timeLable {
	color: #A53860;
	font-size: 0.5em;
	width: 10%;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	top: 42px;
	height: 628px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

.scheduleList {
	width: 100%;
	list-style: none;
	height: 100%;
	padding: 0;
	margin: 0;
}

.scheduleDiv {
	width: 90%;
}

.date {
	text-align: center;
	height: 50px;
	font-size: 1.3em;
	margin: 0;
	color: #A53860;
}

.selectADate {
	font-family: 'Crimson Text', serif;
	display: block;
	padding-top: 280px;
	padding-left: 40px;
	width: 50%;
	color: rgb(0,136,139);
	font-size: 1.7em;
}
