@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

a a:link a:hover, a:active, a:visited {
  text-decoration: none;
  color: rgb(94,94,94);
}

.centeredContainer {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  font-weight: 500;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.errorMsg {
  color: #FF7777;
  font-size: 22px;
  text-align: center;
}

.subHeader {
  font-size: 1.5em;
  text-align: center;
  line-height: 55px;
  font-weight: 300;
}

.center {
  text-align: center;
}

.baseTextAreaContainer {
  display: flex;
  height: 110px;
  margin: 5px 10px 20px 10px;
}

.baseTextArea {
  flex: 1;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  resize: none;
}

.darkBtn {
  background-color: rgb(60,83,154);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
}

.darkBtn:hover {
  background: rgb(36,146,244);
}