.button {
  background: rgb(60,83,154);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  border-width: 0;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background: rgb(36,146,244);
}