.scheduleBlock {
	border-top: 1px solid #65B891;
	height: 50px;
}

.occupiedScheduleBlock {
	border-top: 1px solid #65B891;
	height: 50px;
	background-color: #baecff;
	border-left: 1px solid #86cff9;
	border-right: 1px solid #86cff9;
}

.eventTextP {
	color: #41728e;
	font-size: 0.9em;
	margin: 0;
}

.eventContent {
	display: flex;
	padding: 3px;
	position: relative;
	top: 10px;
	left: 15px;
	max-width: 80%;
}

.removeEventBtn {
	background-color: #41728e;
	color: white;
	margin-left: 7px;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	text-align: center;
	vertical-align: center;	
}

.removeEventBtn p {
	margin: 0;
	vertical-align: center;
	font-size: 0.7em;
}

