.flexContainer {
	display: flex;
	justify-content: space-between;
	height: 650px;
}

.calendarContainer {
	width: 45%;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}

.monthHeader {
	padding: 70px 0;
  width: 100%;
  background: #55D6BE;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calendarTable {
	width: 100%;
	border-collapse: collapse;
}

.weekdays {
	height: 60px;
	width: 100%;
	text-align: center;
	background-color:#D9DCD6;
}

.tableHeaderCells {
	width: 14.285%;
}

.tableRow {
	height: 60px;
}

.prev {
  font-size: 1.5em;
  cursor: pointer;
}

.next {
	font-size: 1.5em;
	cursor: pointer;
}
